@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
  padding: 0px;
  margin: 0px;
  font-family: "Quicksand", "Gothic Century";
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

/* THIS IS FOR CHROME */

button{
  cursor: pointer;
}